@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --width: 724px;
  --brand-fill: 245, 138, 7;
  --step-9: clamp(5.16rem, calc(3.72rem + 7.22vw), 9.31rem);
  --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --brand-fill: rgba(245, 138, 7, 1);
  --icon-scale: 0.45;
  --icon-translate: -15%;
  --brand-stroke: #f58a07;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 22, 25, 29;
    --background-end-rgb: 22, 25, 29;
  }
}

* {
  scrollbar-gutter: stable;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.watermark-fox {
  height: 65vh;
  opacity: 0.05;
  position: fixed;
  right: 0;
  top: 40%;
  transform: translate(40%);
  z-index: -1;
}

/*------scroll bar---------------------*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.activeScroll::-webkit-scrollbar {
  width: 9px;
  height: 7px;
}
.activeScroll::-webkit-scrollbar:hover {
  width: 15px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@layer base {
  a {
    @apply text-fox hover:underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
  }
}

.bg-surface-alpha {
  background-color: hsl(214 14% 10% / 65%);
}

.w-feature {
  width: var(--width);
}

.text-fluid-3 {
  font-size: var(--step-3);
}

.bg-brand-fill {
  background-color: var(--brand-fill);
}

input[type='email'],
textarea {
  @apply border-2 text-white bg-zinc-700 border-transparent focus:border-fox focus:ring-0;
}

.w-content {
  width: calc(var(--width) * 0.84);
}

.border-b-brand-stroke {
  border-bottom-color: var(--brand-stroke);
}
